*{
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

.input{
  margin-bottom: 2rem;
}

.singleFile{
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 232, 190);
  transform:
    perspective(2000px)
    translate3d(0px, -66px, 198px)
    rotateX(-50deg)
    scale3d(0.86, 0.75, 1)
    translateY(50px);
  border-radius: 25px;
  will-change: transform;
  transition: 0.4s ease-in-out transform;
}

.singleFile:hover{
  transform: scale3d(1, 1, 1);
  background-color: whitesmoke;
}

.singleFile__p{
  padding: 2rem;
}

.singleFile__actionBtns{
  margin-left: 2rem;
}